@charset "iso-8859-1";
@import url("login.css");
/* CSS Document
	@Data: 13/09/2009
	@Author: José Carlos Lacerda
	@E-mail: josecarloslacerda@msn.com
*/
/* CSS Document */

.width30{width:30px}	
.width60{width:60px}

body{ 
	background:url(../images/bgsite.jpg) #0b5481 no-repeat center 0; 
	margin:0; 
	padding:0; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size:12px;
	color:#615e5d;
}
img{border:0;}
a{outline:none; color:#615e5d; text-decoration:none;}

/* CLASSES GENÉRICAS */
.none{ display:none}
.block{display:block;}

.clearFix: after {
	content: ".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.strong{ font-weight:bold;}
.textcenter{ text-align:center;}
.textleft{ text-align:left;}
.textright{ text-align:right;}

/* FIM CLASSES */

/* TITULOS */
h3#titulo_perfil{ margin:0 0 10px 0;padding:0; width:169px; height:35px; background:url(../images/titulo_perfil.png) no-repeat;}
h3#titulo_moduloadmin{ margin:25px 0 10px 0;padding:0; width:169px; height:35px; background:url(../images/titulo_moduloadm.png) no-repeat;}
h2#titulos_internos{ 
	margin:0 0 15px 0; 
	padding:20px 0 0 60px; 
	width:390px; 
	height:25px; 
	background:url(../images/bg_titulo_int.png) no-repeat;
	color:#798e9a;
	font-size:18px;
}


/* FIM TITULOS */


/* -- Container -- */
div#container{
	width:980px;
	height:auto;
	margin: 0 auto;
}
/* -- Container -> header -- */
div#container div#header{
	width:100%;
	height:180px;
	z-index:1;
}
div#container div#header div#logo{
	width:495px;
	height:137px;
	float:left;
}
div#container div#header ul#menuHeader{
	list-style:none;
	margin:105px 60px auto auto;
	padding:0;
	float:right;
}
div#container div#header ul#menuHeader li{
	float:left;
	display:inline;
	margin: 0 8px;
	color:#e9edf3;
}

div#container div#header ul#menuHeader li a{
	text-decoration:none;
	color:#e9edf3;
	outline:none;
}
div#container div#header ul#menuHeader li a:hover{
	color:#FFF;
}
/* -- fim Container -> header -- */

/* -- Container -> content -- */
div#container div#content{
	width:100%;
	height:auto;
	z-index:2;
	margin-top:-40px;
	display:block;
}
/* -- Container -> header -> col_left -- */
div#container div#content div#col_left{
	width:222px;
	height:auto;
	float:left;
	display:inline;
	margin-top:30px;
}

div#container div#content div#col_left span#bgleft_topo{
	width:222px;
	height:30px;
	background:url(../images/bgleft_topo.png) no-repeat;
	display:block;
}
div#container div#content div#col_left div#col_leftConteudo{
	background:url(../images/bgleft_linha.png) repeat-y ;
	height:auto;
	padding:20px;
}
div#container div#content div#col_left div#col_leftConteudo div#perfil{
	margin-left:10px;
	clear:both;
	display:block;
}

div#container div#content div#col_left div#col_leftConteudo div#perfil:after{
	content:".";
	visibility:hidden;
	height:0;
	clear:both;
	display:block;
}
div#container div#content div#col_left div#col_leftConteudo div#perfil img{
	float:left;
	display:inline;
	border:1px solid #71b5c9;
	padding:1px;
}
div#container div#content div#col_left div#col_leftConteudo div#perfil ul#dadosperfil{
	margin:	0 0 0 4px;
	padding:0;
	list-style:none;
	float:left;
	display:inline;
}
div#container div#content div#col_left div#col_leftConteudo ul.menumodulos{
	margin:	0 0 0 4px;
	padding:0 0 0 15px;
	list-style:none;
	font-size:13px;
	color:#5d5e5f;
}
div#container div#content div#col_left div#col_leftConteudo ul.menumodulos li{
	list-style-image:url(../images/bolalink.png);
	background:url(../images/linhalink.png) no-repeat -10px bottom;
	margin-bottom:8px;
	padding-bottom:2px;

}
div#container div#content div#col_left div#col_leftConteudo ul.menumodulos li a{
	color:#5d5e5f;
	text-decoration:none;
	outline:none;
}
div#container div#content div#col_left div#col_leftConteudo ul.menumodulos li a:hover{
	color:#000;
}

div#container div#content div#col_left span#bgleft_rodape{
	width:222px;
	height:27px;
	background:url(../images/bgleft_rodape.png) no-repeat;
	display:block;
}
/* -- fim Container -> header -> col_left -- */

/* -- Container -> header -> col_right -- */
div#container div#content div#col_right{
	width:732px;
	height:auto;
	float:right;
	display:inline;
}
div#container div#content div#col_right span#bgright_topo{
	width:732px;
	height:26px;
	background:url(../images/bgright_topo.png) no-repeat;
	display:block;
}
div#container div#content div#col_right div#col_rightConteudo{
	background:url(../images/bgright_linha.png) repeat-y ;
	height:auto;
	padding:0 20px 20px 20px;
}

div#container div#content div#col_right div#col_rightConteudo form.forms{
	width:615px;	
	background:url(../images/bgform.png) no-repeat 0 bottom;
	height:auto;
	padding:0 25px 15px 25px;
	margin:10px 0;
	display:block;
}
div#container div#content div#col_right div#col_rightConteudo h4{
	font-size:14px;
	font-weight:bold;
	color:#8eacbe;
	margin-bottom:20px;
	margin-left: 20px;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span{
	display:block;
	margin:9px 0;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span label{
	width:130px;
	float:left;
	text-align: right;
	margin-right:5px;
}

div#container div#content div#col_right div#col_rightConteudo form.forms span input{
	border:1px solid #bebab5;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span input.obrigatorio{
	border-left:4px solid #15688f;
}


div#container div#content div#col_right div#col_rightConteudo form.forms span.infor {
	width:150px;
	border-left:4px solid #15688f;
	float:right;
	padding:0 0 0 10px;
	margin:0;
	color:#8eacbe;
	font-size:11px;
	display: block;
	margin-bottom: 10px;
		
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.infor:after{
	content:".";
	height:0;
	visibility:hidden;
	clear:both;
	display:block;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.linha{
	background: url(../images/linhaform.png) no-repeat center 0;
	display:block;
	width:100%;
	height:3px;
	clear:both;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes {
	text-align:center;
	padding:0;
	margin:0;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input{
	border:0;
	margin:0 5px;
	outline:none;
	width:69px;
	height:25px;
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input.input_botao{
	background:url(../images/btnformbotao.png);
	font-size: 11px;
	color:#fff; 	
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input.input_submit{
	background:url(../images/btnformsalvar.png);
}

div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input.input_reset{
	background:url(../images/btnformlimpar.png);
}

div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input.input_button{
	background:url(../images/btnformcancelar.png);
}
div#container div#content div#col_right div#col_rightConteudo form.forms span.botoes input.input_entrar{
	background:url(../images/btn_logar.jpg);
}

div#container div#content div#col_right div#infogerais{
	width:100%;
	margin-top:30px;
}
div#container div#content div#col_right div#infogerais p#info_titulo{
	float:left;
	display:inline;
	margin:0 0 5px 0;
	padding:0;
	color:#2e6587;
}
div#container div#content div#col_right div#infogerais a.info_novo{
	float:right;
	/*background: url(../images/imgnovo.png) no-repeat 0 2px;*/
	padding-left:18px;
	color:#2e6587;
	font-weight:bold;
	font-size:12px;
	text-decoration:underline;
	margin-right:10px;
}


.panels{
	font-weight: bold;
	line-height: 25px;
	border: thick #000;
	font-size: medium;	
	}
div#container div#content div#col_right div#infogerais table.grid{
	width:100%;
	clear:both;
}

.cor1{background:#e9f2f6;}
.cor2{background:#dfecf3;}

div#container div#content div#col_right div#infogerais table.grid thead{
	color:#2e6587;
	background:url(../images/bgtopgrid.png);
	height:23px;
}


	
div#container div#content div#col_right div#infogerais table.grid tbody td{
	color:#051f2f;
	padding: 2px 5px 2px 5px;
}


div#container div#content div#col_right div#infogerais table#grid tbody tr.cor1{
	background:#e9f2f6;
}
div#container div#content div#col_right div#infogerais table#grid tbody tr.cor2{
	background:#dfecf3;
}

div#container div#content div#col_right span#bgright_rodape{
	width:732px;
	height:26px;
	background:url(../images/bgright_rodape.png) no-repeat;
	display:block;
}

.msgErro{
	background-color: #FF6347;
	color: #FFF;
	font-weight: bold;
	line-height: 2;
	
	}
/* -- fim Container -> header -> col_left -- */


/* -- fim Container -> content -- */

/* -- Container -> footer -- */
div#container div#footer{
	width:100%;
	height:50px;
	clear:both;
}
/* -- Container -> footer -- */

/* -- fim Container -- */
